In [13]:
import pandas as pd

results = pd.read_csv('results.csv')
results = results.sort_values('num_attacks')
results.head()

     num_attacks                                              board
756           10  [[None, None, None, None, None, None, None, No...
501           15  [[None, None, None, None, None, None, None, No...
943           16  [[None, None, None, None, None, None, None, No...
80            16  [[None, None, None, None, None, None, None, No...
679           17  [[None, None, 'Cruiser', None, None, None, Non...